[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tuandung1379
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tuandung1379
	label-Verified = -1..+1 group user/tuandung1379
	push = group user/tuandung1379
	read = group user/tuandung1379
	rebase = group user/tuandung1379
	removeReviewer = group user/tuandung1379
	submit = group user/tuandung1379
[access "refs/heads/*"]
	create = group user/tuandung1379
	push = +force group user/tuandung1379
	pushMerge = group user/tuandung1379
	read = group user/tuandung1379
[access "refs/tags/*"]
	push = group user/tuandung1379
	push = +force group user/tuandung1379
